body {
  background-color: #444;
  background-image: url(d4dc921b63d46ecb6b80d389c0d8069e.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19b3e6;
  color: #FFF;
  font-size: 1.8em; }

